---
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BlogLayout title={entry.data.title}>
  <details>
    <summary>Tags</summary>
    <ul class="tag-list">
      {entry.data.tags.map((tag) => <li>{tag}</li>)}
    </ul>
  </details>
  <h1>{entry.data.title}</h1>
  <h5>Creation date: <time itemprop="creationDate" datetime={entry.data.creationDate.toISOString()}>{entry.data.creationDate.toLocaleDateString()}<time></h5>
  <Content />
</BlogLayout>

<style lang="scss">
  .tag-list {
    display: flex;
    flex-direction: "row";
    list-style: none;
    column-gap: 1rem;
    flex-wrap: wrap;
    padding: 0;
  }
</style>
