---
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
const articles = await getCollection("blog");
---

<BlogLayout>
  <h1>blog</h1>
  {
    articles.map((article) => {
      return (
        <a href={`/blog/${article.slug}`}>
          <article>
            <h5>{article.data.title}</h5>
          </article>
        </a>
      );
    })
  }
</BlogLayout>
