@font-face {
  font-family: 'Ouroboros';
  src: url('/fonts/Ouroboros.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiny';
  src: url('/fonts/Tiny.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}