---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div>
    <h1>bjarne voigtländer</h1>
    <img
      src="chicken-island.png"
      alt="Computer generated, two islands connected by a bridge inhibited by two chickens."
    />
    <p>
      <span>email</span>:
      <a href="mailto:hello@bvoigtlaender.de" rel="me">
        hello@bvoigtlaender.de
      </a>
    </p>
  </div>
</DefaultLayout>

<style>
  h1 {
    text-align: center;
    color: #ff0000;
    font-family: "Courier New", Courier, monospace;
  }
  p {
    text-align: center;
    color: #ff0000;
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
  }
  h1 span {
    color: #00a000;
  }
  p span {
    color: #940000;
  }
  p a {
    color: #00a000;
  }
  body {
    background-color: #000;
    display: grid;
    place-items: center;
    height: 100vh;
  }
</style>
