---
import Header from "../components/header/Header.astro";
import Temple from "../components/temple/temple";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
	<Header />
	<section>
		<Temple client:only />
	</section>
	<footer></footer>
</DefaultLayout>

<style>
	.gif {
		position: fixed;
		bottom: 0;
		right: 0;
	}
</style>
