---
import TierList from "../components/TierList.astro";
import LifeBar from "../components/LifeBar.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import SkillTree from "../components/SkillTree.astro";
import Contact from "../components/Contact.astro";
import Eyebrow from "../components/Eyebrow.astro";
---

<DefaultLayout>
  <h1>Bjarne Voigtländer</h1>
  <LifeBar />
  <div class="columns">
    <div class="column">
      <TierList />
      <section>
        <Eyebrow title="future plans" />
        <div></div>
      </section>
    </div>
    <div class="column">
      <SkillTree />
    </div>
    <div class="column">
      <Contact />
      <section>
        <Eyebrow title="reference projects" />
        <div></div>
      </section>
      <section>
        <Eyebrow title="important things" />
        <div></div>
      </section>
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  h1 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    line-height: 3rem;
    &::selection {
      background: #749c8c;
    }
  }
  body {
    background-color: #d7dad5;
    padding: 0 1.5rem;
    background-color: #d7dad5;
    background-image: linear-gradient(#749c8c 1px, transparent 1px),
      linear-gradient(to right, #749c8c 1px, #d7dad5 1px);
    background-size: 1.5rem 1.5rem;
    max-height: 100vh;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .row:not(:first-child) {
    margin-top: 1rem;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .columns {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 1.5rem;
  }
</style>
