---
---

<header>
  <nav>
    <a href="/">bjarne</a>
    <a href="/games">games</a>
    <a href="/websites">websites</a>
    <a href="/blog">blog</a>
  </nav>
</header>

<style>
  header nav {
    margin: 0 auto;
    max-width: fit-content;
  }

  header a {
    font-family: "Ouroboros", serif;
  }
  header {
    display: flex;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%),
      linear-gradient(225deg, #444cf7 25%, transparent 25%),
      linear-gradient(45deg, #444cf7 25%, transparent 25%),
      linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    background-position: 5px 0, 5px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
  }
  nav {
    background-color: #fff;
  }
  a:hover {
    background-color: #000;
    color: #fff;
  }
</style>
