---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div class="headline">
  <h1>
    {
      [...title].map((character, index) => {
        const power: number =
          [...title].length / 2 - [...title].length + 0.5 + index;
        const rotate: string = power * 10 + "deg";
        const translate: string = `0 ${Math.abs(power * 30)}px`;
        return (
          <span
            style={{
              backgroundColor: "#000",
              color: "#fff",
              display: "inline-block",
              rotate,
              translate,
            }}
          >
            {character}
          </span>
        );
      })
    }
  </h1>
</div>

<style>
  .headline {
    width: 100%;
    position: relative;
  }
  h1 {
    margin: 0 auto;
    position: absolute;
    top: 10px;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 2rem;
    font-family: "Ouroboros", serif;
  }
</style>
