---
import Eyebrow from "./Eyebrow.astro";
---

<section>
  <Eyebrow title="contact info" />
  <div class="contact">
    <p>
      email: <a href="mailto:bjarne.voigtlaender@icloud.com"
        >bjarne.voigtlaender@icloud.com</a
      >
    </p>
    <p>
      www: <a href="https://www.bvoigtlaender.de"> www.bvoigtlaender.de</a>
    </p>
    <p>
      phone: <span class="redacted">***redacted***</span>
    </p>
  </div>
</section>

<style lang="scss">
  .contact {
    display: flex;
    flex-direction: column;
    p {
      font-family: "Courier New", Courier, monospace;
      line-height: 1.5rem;
      cursor: default;
    }
    a {
      color: #588070;
      font-weight: 900;
      background-color: #ddd;
      &:hover {
        color: #ddd;
        background-color: #588070;
      }
    }
    span.redacted {
      background-color: #000;
      font-weight: 900;
      &:hover {
        color: #ddd;
      }
    }
  }
</style>
