---
interface Props {
  title: string;
}
const { title } = Astro.props;
const titleParts = title.split(" ");
---

<h3>
  {titleParts.shift()}{
    titleParts.map((titlePart) => <span>[[{titlePart}]]</span>)
  }
</h3>

<style lang="scss">
  h3 {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.5rem;
    cursor: default;
    span {
      color: #666;
      cursor: help;
      user-select: none;
      margin-left: 0.5rem;
    }
    &::selection {
      background-color: #d7dad5;
    }
  }
</style>
