---
---

<div class="container">
  <div class="bracket"></div>
  <div class="bracket"></div>
  <div class="content">
    <slot />
  </div>
  <div class="bracket"></div>
  <div class="bracket"></div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .bracket {
    border: 0.2rem solid #666;
    width: 0.7rem;
  }
  .bracket:nth-child(-n + 3) {
    border-right: unset;
    margin-right: 0.5rem;
  }
  .bracket:nth-child(n + 3) {
    border-left: unset;
    margin-left: 0.5rem;
  }
  .content {
    flex: 1;
  }
</style>
