---
import Eyebrow from "./Eyebrow.astro";
---

<Eyebrow title="work experience" />
<div class="container">
  <div class="years">
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
    <div class="year-dot"></div>
  </div>
  <div class="bar">
    <div class="progress" id="progress"></div>
  </div>
  <div class="label" style="left: 50%" data-percentage="51"></div>
  <div class="label" style="left: 25%" data-percentage="26"></div>
  <div class="label" style="left: 75%" data-percentage="76"></div>
  <div class="label" style="left: 30%" data-percentage="31"></div>
</div>

<style>
  @keyframes move {
    from {
      background-position-x: 0px;
    }
    to {
      background-position-x: 10px;
    }
  }
  .container {
    position: relative;
    height: 3rem;
  }
  .years {
    display: none;
    justify-content: space-around;
    padding: 0.2rem 0;
  }
  .year-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: #000;
  }
  .bar {
    box-sizing: border-box;
    height: 1rem;
    border: 0.2rem solid #000;
    /* border-radius: 2rem; */
    overflow: hidden;
  }
  .progress {
    animation: move 0.5s infinite linear;
    transition: width 0.5s;
    border-right: 0.2rem solid #000;
    background-color: #eee;
    background-size: 10px 10px;
    background-position: 1rem;
    background-image: repeating-linear-gradient(
      45deg,
      #749c8c 0,
      #749c8c 4px,
      #eee 0,
      #eee 50%
    );
    height: 100%;
    width: 0%;
  }
  .label {
    transition: scale 0.5s;
    position: absolute;
    top: -0.7rem;
    width: 1.2rem;
    height: 2.4rem;
    background-color: #eee;
    border: 0.2rem solid #000;
    cursor: help;
  }
  .label:hover {
    scale: 1.1;
  }
</style>

<script>
  const progress = document.getElementById("progress")!;
  const labels = document.getElementsByClassName("label");
  progress.style.width = "95%";
  for (let index = 0; index < labels.length; index++) {
    const label = labels[index];
    label.addEventListener("mouseover", () => {
      progress.style.width = label.getAttribute("data-percentage")! + "%";
    });
    label.addEventListener("mouseleave", () => {
      progress.style.width = "95%";
    });
  }
</script>
