---
import Eyebrow from "./Eyebrow.astro";
const gridSize = 72;
const skillTiers = [
  [
    {
      identifier: "compass",
      description: "Lorem ipsum",
    },
  ],
  [
    {
      identifier: "compass",
      description: "Lorem ipsum",
    },
    {
      identifier: "compass",
      description: "Lorem ipsum",
    },
  ],
  [
    {
      identifier: "compass",
      description: "Lorem ipsum",
    },
    {
      identifier: "compass",
      description: "Lorem ipsum",
    },
    {
      identifier: "compass",
      description: "Lorem ipsum",
    },
  ],
];
---

<section>
  <Eyebrow title="skill tree" />
  <div class="tree">
    <svg height="500">
      <line x1="55" y1="231" x2="220" y2="327" stroke="black" stroke-width="3"
      ></line>
      <line x1="55" y1="231" x2="220" y2="135" stroke="black" stroke-width="3"
      ></line>
      <line x1="220" y1="135" x2="391" y2="29" stroke="black" stroke-width="3"
      ></line>
      <line x1="220" y1="135" x2="391" y2="231" stroke="black" stroke-width="3"
      ></line>
      <line x1="220" y1="327" x2="391" y2="231" stroke="black" stroke-width="3"
      ></line>
      <line x1="220" y1="327" x2="391" y2="423" stroke="black" stroke-width="3"
      ></line>
      <image href="/compass.png" height="67" width="67" x="3" y="195" />
      <image href="/compass.png" height="67" width="67" x="187" y="291" />
      <image href="/compass.png" height="67" width="67" x="187" y="99" />
      <image href="/compass.png" height="67" width="67" x="379" y="3" />
      <image href="/compass.png" height="67" width="67" x="379" y="195" />
      <image href="/compass.png" height="67" width="67" x="379" y="387" />
    </svg>
  </div>
</section>

<style lang="scss">
  .tree {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    image {
      outline: #000 solid 3px;
    }
    image:hover {
      scale: 1.2;
    }
    .skill {
      border: 0.2rem solid #000;
      display: grid;
      width: 4.5rem;
      height: 4.5rem;
      place-content: center;
    }
  }
</style>
