---
import Eyebrow from "./Eyebrow.astro";
---

<script>
  function onDragStart(event: DragEvent) {
    const target = event.target as HTMLImageElement;
    if (event.dataTransfer && target) {
      console.log(target.id);
      event.dataTransfer.setData("text/item", target.id);
    }
  }

  function onDragOver(event: DragEvent) {
    event.preventDefault();
    if (event.dataTransfer) event.dataTransfer.dropEffect = "move";
  }

  function onDrop(event: DragEvent) {
    let target = event.target as HTMLImageElement;

    if (target.classList.contains("space")) {
      target = target.parentElement as HTMLImageElement;
    }

    if (event.dataTransfer && target) {
      event.preventDefault();
      const data = event.dataTransfer.getData("text/item");
      const element = document.getElementById(data) as Node;
      target.appendChild(element);
    }
  }

  const tiers: NodeListOf<HTMLDivElement> =
    document.querySelectorAll("div.tier");
  const items: NodeListOf<HTMLDivElement> =
    document.querySelectorAll("img.item");

  items.forEach((item) => {
    item.addEventListener("dragstart", onDragStart);
  });

  tiers.forEach((tier) => {
    tier.addEventListener("dragover", onDragOver);
    tier.addEventListener("drop", onDrop);
  });
</script>

<section>
  <Eyebrow title="tier list" />
  <div class="list">
    <div class="tier">
      <div class="tier-label s space">S</div>
      <img class="item space" id="react" draggable="true" src="/react.png" alt="Blue atom symbol"/>
    </div>
    <div class="tier">
      <div class="tier-label a space">A</div>
      <img class="item space" id="godot" draggable="true" src="/godot.png" alt="Head of a blue robot in cartoon style." />
    </div>
    <div class="tier">
      <div class="tier-label b space">B</div>
      <img class="item space" id="next" draggable="true" src="/next.png" alt="Stylized letter N."/>
      <img class="item space" id="astro" draggable="true" src="/astro.png" alt="Stylized letter A with a red flame under it."/>
    </div>
    <div class="tier">
      <div class="tier-label c space">C</div>
    </div>
  </div>
</section>

<style lang="scss">
  .list {
    display: flex;
    flex-direction: column;
    height: 19.5rem;
    .tier {
      display: flex;
      flex-direction: row;
      border: 0.2rem solid #000;
      &:not(:last-child) {
        border-bottom: none;
      }
      .space {
        display: grid;
        width: 4.5rem;
        height: 4.5rem;
        place-content: center;
        font-family: "Courier New", Courier, monospace;
        font-size: 3rem;
        font-weight: 500;
        user-select: none;
        background-color: #000;
        &.item {
          cursor: grab;
        }
        &#react,
        &#godot {
          padding: 0.5rem;
        }
      }
      .tier-label {
        border-right: 0.2rem solid #000;
        user-select: none;
        cursor: default;
        &.s {
          background-color: #749c8c;
        }
        &.a {
          background-color: #bacec6;
        }
        &.b {
          background-color: #dde7e3;
        }
        &.c {
          background-color: #eef3f1;
        }
      }
    }
  }
</style>
