---
import "../styles/reset.css";
import "../styles/global.css";
const version = process.env["CI_PIPELINE_NUMBER"] || '0';
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <!-- maybe its good to have?!?!? <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="version" content={version} />
    <meta
      name="description"
      content="Personal webpage, resume, portfolio and blog?!"
    />
    <meta
      property="og:title"
      content="Bjarne Voigtländer - Frontend Developer"
    />
    <meta property="og:type" content="profile" />
    <meta property="og:profile:first_name" content="Bjarne" />
    <meta property="og:profile:last_name" content="Voigtländer" />
    <meta property="og:profile:username" content="bvoigtlaender" />
    <meta
      property="og:image"
      content="https://bvoigtlaender.de/chicken-island.png"
    />
    <meta property="og:url" content="https://bvoiglaender.de" />
    <link rel="me" href="https://github.com/bvoigtlaender" />
    <link rel="me" href="https://codeberg.org/bvoigtlaender" />
    <link rel="me" href="https://social.bvoigtlaender.de/@bjarne" />
    <title>Bjarne Voigtländer</title>
    <script
      async
      src="https://analytics.bvoigtlaender.de/tracker.js"
      data-ackee-server="https://analytics.bvoigtlaender.de"
      data-ackee-domain-id="441f123a-725f-4578-8891-269a650f30f0"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
